body {
    background-image: url(./imagenes/Screenshot_citroen_c15_d_ks_nordschleife_11-11-123-19-14-20.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(71, 71, 71);
    background-size: cover; /*Fondo*/    
    color: white;
    font-family: 'Mulish', sans-serif;
  }

.Menuprincipal {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: rgb(85, 85, 85);
    color: aliceblue;
  }
  
  .Menuprincipal li {
    display: inline;
  }
/*Botones del menu*/
  .Menuprincipal a {
    padding: 10px;
  }

  .Menuprincipal a:hover {
    background-color: rgb(58, 58, 58);
  }

  .icono-container:hover {
    transform: scale(1.5); /* Aumenta el tamaño en un 20% */
    color: red;
  }
/**/

  .Menuprincipal div {
    display: inline-block;
  }

  .info {
    display: inline-block;
    width: 50%;
  }

  /*divs*/

/* Aplica la transformación al hacer hover sobre el contenedor del icono */
.imagenEnCeldaTabla {
  width: 70%;
  
}

.divTextoImagen {
  display: flex;
  flex-direction: row;
  border: solid white 5px;
  border-radius: 50px;
  padding: 50px;
  margin: 70px;
}

.celda50responsiva {
  width: 50%;
  text-align: center;
  text-justify: auto;
}

@media screen and (min--moz-device-pixel-ratio: 2), /* Firefox */
       screen and (-o-min-device-pixel-ratio: 2/1), /* Opera */
       screen and (-webkit-min-device-pixel-ratio: 2), /* Safari y Chrome */
       screen and (min-device-pixel-ratio: 2), /* Resolución de dispositivo general */
       screen and (min-resolution: 192dpi), /* Resolución de pantalla general */
       screen and (min-resolution: 2dppx) /* Resolución de pantalla para navegadores más modernos */
{

  .divTextoImagen {
    flex-direction: column;
  }

  .celda50responsiva {
    width: 100%;
  }
}

.fondonegrotrasparentetextocentrado {
    background-color: rgba(0, 0, 0, 0.664);
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    margin: auto;
    width: 1000px;
    text-align: center;
    border-radius: 10px;
}


  .Datosprincipal {
    background-color: rgba(0, 0, 0, 0.664);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }

  .Datosprincipal table {
    border: 4px solid rgb(197, 197, 197);
    border-radius: 50px;
    margin: 30px;
  }

  .Datosprincipal table tr td {
    padding: 30px;
  }

  /**/

  /*Encabezados*/
  h1 {
    margin-left: 50px;
    margin-top: 40px;
  }

  
  /**/
  /*enlaces*/
  a {
    text-decoration: none;
    color: white;
    
  }
/**/

/*tablas*/


.icono-container {
  transition: transform 0.5s ease;
}


/**/
