/* Define standard variables and values for website */
$bgcolor: rgb(11, 253, 31);
$textcolor: rgb(255, 12, 12);
$fontsize: 18px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}                  