

/*Formato para la caja que contiene los divs*/

/**/

/*Formato para divs detro de caja*/


.cyan {
    background-color: darkcyan;
}

.azul {
    background-color: rgb(45, 185, 231);
}

.morado {
    background-color: blueviolet;
}

.azulOscuro {
    background-color: darkblue;
}

.amarillo {
    background-color: rgb(255, 187, 0);
}

.naranja {
    background-color: orange;
}

.rojo {
    background-color: rgb(255, 66, 66);
}

.gris {
    background-color: gray;
}

.verde {
    background-color: seagreen;
}

.verdeOscuro {
    background-color: rgb(22, 68, 42);
}
/********/