@import 'colors';
@import 'tamaños';

/*Los metodos deben de ir primero*/
@mixin pintacolor($c) {
    color: $c;
}

body {
    background-color: $Blanco;
}

.textoVerde {
    @include pintacolor($Verde);
}

.imgrescalada {
    width: $pequenio;
}

